body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background:grey;
}

.status {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
}

.solved>div>input{
	background:#DFF2BF;
	color: #4F8A10;
}

.unsolvable>div>input{
	color: #D8000C;
  background-color: #FFD2D2;
}

.square:nth-child(1){
  border-left:2px solid black;
}
.square:nth-child(3n){
  border-right:2px solid black;
}

.square:focus {
  outline: none;
}

.game {
	display:block;
}

.sudoku-row{
	display:block;
	width:477px;
}

.sudoku-row:after {
  clear: both;
  content: "";
  display: table;
}


.sudoku-row:nth-child(1)>input{
	border-top:2px solid black;
}

.sudoku-row:nth-child(3n)>input{
	border-bottom:2px solid black;
}

.sudoku-board{
	display:block;
	margin-right: auto;
	margin-left: auto;
	width:480px;
	height:480px;
}

.buttons{
	display:block;
	text-align: center;
}

.buttons>button{
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	margin:8px;
}

.game-header{
	font-weight: bold;
	text-align: center;
}

.game-info {
  text-align: center;
}
